# ignore all __pycache__ directories any depth under the src directory
src/**/__pycache__/

# PyCharm project files
src/.idea/

# Omit all users' directories except for the .__template__ directory.
Users/**
!Users/.__template__/**

# Omit all log files except .gitkeep
logbook/*
!logbook/.gitkeep


