# remove compiled python files because they'll change every time 
# a source file changes
src/__pycache__/
src/xCore/__pycache__/
src/xWidgets/__pycache__/

# PyCharm project files
src/.idea/

# Omit all users' directories except for the .__template__ directory.
Users/**
! Users/.__template__/**

# Omit all log files except .gitkeep
logbook/**
! logbook/.gitkeep


